h1{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("ok.png");
    height: 200px;
    
}

div.menu{
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 190px;
}

#opçao{
  background-color:#05521c; 
  color: whitesmoke; 
  width: 200px; 
  height:200px; 
  font-size: 17px;
  margin: 10px;
}


body{
    background-image: url("field3.png");
   
}

